extends layout

block content
  h1= title
  .main.container
    .row
      .col-md-6.col-md-offset-3
        .rightsongs
  .right
    // Original image taken from <a href="https://en.wikipedia.org/wiki/Next_to_Me_(Emeli_Sand%C3%A9_song)"></a>
    img(src='EmeliSandé-NextToMe.jpg', alt='Single cover', title='Emeli Sandé-Clown', width='200', height='200')
  .info(style='color: black')
    h2 Number 35
    h1 Emeli Sandé - "Next To Me"
    h2 Peak position: 2
    h2 Weeks on chart: 32
  p
    | Sandé’s gospel-tinged hit, 
    span.normallink
      a(href='https://www.youtube.com/watch?v=-nwdjQmc_N8', target='_blank') "Next To Me"
    | was her first big assault on the singles chart in what was an unforgettable 2012 for her as appearances in both the opening and closing ceromonies of the Olympics turned her into a huge artist.  Behind Nicki Minaj’s “Starships, this was the biggest selling single NOT to top the charts.
  .checkout
    h2 Check out...
  p
    span.normallink
      a(href='https://www.youtube.com/watch?v=UwoRPP3_clY', target='_blank') Eternal & Bebe Winans - "I Wanna Be The Only One"
  br
  p And...
  p
    span.normallink
      a(href='https://www.youtube.com/watch?v=79fzeNUqQbQ', target='_blank') Madonna - "Like A Prayer"
